html, body {
    height: 100%;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 80%;
    margin: auto;
}
body header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 400;
}
body header nav #linksContainer {
    display: grid;
    grid-template-columns: 50px 15px 50px 15px 150px;
    align-items: center;
    justify-content: right;
}
body main #cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
body main #cardsContainer .card {
    height: 200px;
    width: 200px;
    padding: 30px;
    border: 1px solid lightgray;
}