body {
    width: 80%;
    margin: auto;
}
#searchContainer button {
    height: 40px;
}
#searchContainer input {
    height: 40px;
    width: 100%;
    outline: none;
}
.result {
    padding: 15px 0;
}
.result .result-header {
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid lightgray;
    padding-bottom: 5px;
}

.result .result-header a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.result .result-header h4 {
    margin: 0;
}

.result .result-header .divider {
    padding: 0 10px;
}

.result .result-body {
    padding: 15px;
}