<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/index.css"/>
</head>
<body>
<header>
    <nav>
        <h3>Explore and Download</h3>
        <div id="linksContainer">
            <h5><a href="../index.html">Home</a></h5>
            <div>|</div>
            <h5><a href="search.html">Search</a></h5>
            <div>|</div>
            <h5><a href="explore.html">Explore and Download</a></h5>
        </div>
    </nav>
</header>
<main>
    <h1>Explore & Download</h1>
    <hr/>
    <p>The MLB Stats Explorer is an application that enables users to view real MLB Stats from 1871 to present</p>
    <div id="filters">
        <div>
            <label for="teams">Teams</label>
            <input type="radio" checked id="teams" value="teams" name="filterType" />
            <label for="players">Players</label>
            <input type="radio" id="players" name="filterType" value="players" />
        </div>
        <div id="teamFilters">
            <div class="input-container">
                <label for="yearID">Year</label>
                <select id="yearID">
                    <option>Select...</option>
                </select>
            </div>
            <div class="input-container">
                <label for="teamID">Team</label>
                <select id="teamID"></select>
            </div>
        </div>
        <div id="datatable">
            <table>
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</main>
<footer></footer>
<script src="../scripts/utils/http-client.js"></script>
<script src="../scripts/explore.js"></script>
</body>
</html>