<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/index.css"/>
</head>
<body>
    <header>
        <nav>
            <h3>Search</h3>
            <div id="linksContainer">
                <h5><a href="../index.html">Home</a></h5>
                <div>|</div>
                <h5><a href="search.html">Search</a></h5>
                <div>|</div>
                <h5><a href="explore.html">Explore and Download</a></h5>
            </div>
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>