<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/index.css"/>
    <link rel="stylesheet" href="../styles/search.css"/>
</head>
<body>
<header>
    <nav>
        <h3>Search</h3>
        <div id="linksContainer">
            <h5><a href="../index.html">Home</a></h5>
            <div>|</div>
            <h5><a href="search.html" class="active">Search</a></h5>
            <div>|</div>
            <h5><a href="explore.html">Explore and Download</a></h5>
        </div>
    </nav>
</header>
<main>
    <h1>Search MLB Stats from 1871 - present</h1>
    <hr/>
    <p>
        The MLB Stats Explorer tracks over 19,000 Major League Baseball personnel. Search for the person you're after
        by their name.
    </p>
    <div id="searchContainer">
        <input type="text" placeholder="Player Name" autofocus id="searchBox"/>
    </div>
    <div id="resultsContainer"></div>
</main>
<footer></footer>
<script src="../scripts/utils/loader.js"></script>
<script src="../scripts/utils/http-client.js"></script>
<script src="../scripts/search.js"></script>
</body>
</html>